<div class="col-md-4 mb-4">
  	<div class="card" style="min-height: 100%" >
	  <img class="card-img-top img-thumbnail" width="100%" height="250px" src="<%= post.banner_image_url %>" alt="Card image cap">
	  <div class="card-body">
	    <h5 class="card-title"><%= link_to post.title,post %></h5>
	    <p class="card-text"><%= truncate(post.description,length:130) %> </p>
	   	<%= link_to 'Read', post, class: 'btn btn-outline-primary ' %>
	    
	  </div>
		<div class="card-footer text-muted">
	    	<%= post.day_published  %>
	  	</div>
	</div>
</div>