
<% provide(:blog_active, "active") %>
<div class="col text-right mb-3 mt-3">
	<%= link_to 'Back', posts_path , class: 'btn btn-outline-secondary  ' %>
</div>
<h1>Editing Post</h1>


<%= render 'form', post: @post %>
