<% provide(:page_title,@post.title) %>
<% provide(:blog_active, "active") %>
<% if notice %>
	<div class="alert alert-info mt-3 " role="alert">
		<%= notice %>
	</div>
<% end %>
<div class="col-lg-12 mb-3 mt-3 text-right">
	<%= link_to 'Back', posts_path , class: 'btn btn-outline-secondary ' %>
</div>
<div class="col-lg-12">
	  <div class="card bg-dark text-white">
	  	<img class="card-img" width="100%" height="350px" src="<%= @post.banner_image_url %>" alt="Card image">
		  <div class="card-img-overlay">
		    <h1 class="card-title text-center mt-5 align-middle"> <span> <%= @post.title %></span> </h1>
		    <h4 class="card-text desc  text-center  align-middle"><%= @post.description %></p>

		  </div>
	</div>
	  <div class="card-body">
	   
	    <p class="card-text"><%= @post.body %></p>
	    
	  </div>
</div>
