<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>


  <div class="form-group">
      <div class="field">
         <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => 'form-control' %>
      </div>
  </div>
  <div class="form-group">
      <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
        <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
      </div>
  </div>
  <div class="form-group">
      <div class="field">
         <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control' %>
      </div>
  </div>
  <div class="form-group">
  <div class="actions">
    <%= f.submit "Sign up" ,:class =>'btn btn-outline-primary ' %>
  </div>
</div>
<% end %>

<%= render "devise/shared/links" %>
