<h2>Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  
   <div class="form-group">
      <div class="field">
          <%= f.label :password ,"New password"  %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
        <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
      </div>
  </div>
  <div class="form-group">
      <div class="field">
         <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control' %>
      </div>
  </div>

  <div class="actions">
    <%= f.submit "Change my password" ,:class =>'btn btn-outline-primary ' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
