<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
      <div class="field">
         <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => 'form-control' %>
      </div>
  </div>
  <div class="form-group">
      <div class="field">
         <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
      </div>
  </div>
 
  <% if devise_mapping.rememberable? -%>
   <div class="form-group">
    <div class="form-check">
       <div class="field">
        <%= f.check_box :remember_me ,:class => 'form-check-input' %>
        <%= f.label :remember_me , :class => 'form-check-label' %>
      </div>
    </div>
  </div>
  <% end -%>
   <div class="form-group">
  <div class="actions">
    <%= f.submit "Log in" ,:class =>'btn btn-outline-primary ' %>
  </div>
     </div>
<% end -%>
<%= render "devise/shared/links" %>
