<%= form_for(post,url: url, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-lg-12">
    <div class="form-group">
      <div class="field">
        <%= form.label :title  %>
        <%= form.text_field :title , {:class => 'form-control'} %>
      </div>
    </div>
   
    <div class="form-group">
           <div class="field">
        <%= form.label :banner_image_url %>
        <%= form.text_field :banner_image_url ,{:class => 'form-control'}  %>
      </div>
    </div>
    <div class="form-group">
          <div class="field">
        <%= form.label :description %>
        <%= form.text_area :description , {:class => 'form-control'}  %>
      </div>
    </div>
     <div class="form-group">
       <div class="field">
        <%= form.label :body  %>
        <%= form.text_area :body , {:class => 'form-control'}  %>
      </div>
    </div>
    <div class="form-group">
      <div class="actions">
        <%= form.submit :Submit , {:class =>'btn btn-outline-primary '} %>
      </div>
    </div>
  </div>

 
<% end %>
