<tr>
	<td width="60px">
		<img class="rounded" width="50px" height="50px" src="<%= post.banner_image_url %>" alt="Card image cap">
	</td>
	<td>
		<%= link_to post.title,authors_post_path(post) %>
	</td>
	<td>
		<%= truncate(post.description,length:100) %>
	</td>
	<td>
		<%= link_to 'Edit', edit_authors_post_path(post), class: 'btn btn-outline-primary ' %>
		<%= link_to 'Delete', authors_post_path(post),method: :delete, data:{confirm: 'Are you sure'}, class: 'btn btn-outline-danger ' %>
	</td>
</tr>	