<% provide(:page_title,"Edit #{@post.title}") %>

<% provide(:author, "active") %>
<div class="col text-right mb-3 mt-3">
	<%= link_to 'Back', authors_posts_path , class: 'btn btn-outline-secondary  ' %>
	<%= link_to 'Show Post', authors_post_path(@post) , class: 'btn btn-outline-secondary  ' %>
</div>
<h1>Editing Post</h1>


<%= render 'form', post: @post , url: authors_posts_url(@post) %>
