
<% provide(:page_title,"All Post") %>
<% provide(:author, "active") %>
<% if notice %>
	<div class="alert alert-info mt-3 " role="alert">
		<%= notice %>
	</div>
<% end %>
<div class="row mt-3">
	<div class="col-lg-12 mt-3">
		<%= link_to 'Add New Post', new_authors_post_path() , class: 'btn btn-outline-success  ' %>
	</div>
	<div class="col-lg-12 mt-3">
		<table class="table table-bordered ">
			<thead class="table-dark">
				<tr>
					<th></th>
					<th>Title</th>
					<th>Description</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				 <%= render @posts %>
			</tbody>
		</table>
	</div>
	
 
</div>

