<% provide(:page_title,"New Post") %>
<% provide(:author, "active") %>

<div class="col text-right mb-3 mt-3">
	<%= link_to 'Back', authors_posts_path , class: 'btn btn-outline-secondary  ' %>
</div>

<h1>New Post</h1>

<%= render 'form', post: @post , url: authors_posts_url %>
