// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posts.show{
	.card-title{
		top: 130px;
    	position: relative;
    	span{
    		padding: 5px 10px;
    		background : red;
    	}
	}
	.desc{
		top: 150px;
		position: relative;
		padding: 5px ;
		color : black;
	}
	
}