
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse"  id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item mr-2">
         <%= link_to 'Blog', root_path, class: "nav-link #{yield(:blog_active)}" %>
      </li>
      <li class="nav-item mr-2">
        <%= link_to 'About', about_path, class: "nav-link #{yield(:about_active)}" %>
      </li>
      <li class="nav-item mr-2 ">
        <%= link_to 'Contact', contact_path, class: "nav-link #{yield(:contact_active)}" %>
      </li>
      <% if author_signed_in?  %>
      <li class="nav-item mr-2 ">
        <%= link_to 'My Posts', authors_posts_path, class: "nav-link #{yield(:author)}" %>
      </li>
      <li class="nav-item mr-2 ">
        <%= link_to 'Logout', destroy_author_session_path, method: :delete ,  class: "nav-link" %>
      </li>
      <%= form_tag authors_posts_path, :method => 'get', :class => "form-inline my-2 my-lg-0" do %>
        <%= text_field_tag :search, params[:search] , {:class => 'form-control mr-sm-2'} %>
        <%= submit_tag "Search", :name => nil  , class: 'btn btn-outline-success my-2 my-sm-0'%>
      <% end %>
      <% else %>
        
        <li class="nav-item mr-2 ">
          <%= link_to 'Login', author_session_path,  class: "nav-link" %>
        </li>
        <%= form_tag posts_path, :method => 'get', :class => "form-inline my-2 my-lg-0" do %>
        <%= text_field_tag :search, params[:search] , {:class => 'form-control mr-sm-2'} %>
        <%= submit_tag "Search", :name => nil  , class: 'btn btn-outline-success my-2 my-sm-0'%>
      <% end %>

      <%  end %>
    </ul>
      
    
  </div>
</nav>