<!DOCTYPE html>
<html>
  <head>
    <title> <%= yield(:page_title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=g6inan996gcaa2ogslqduua2xgcrj64wmweqlr14ipwxvyfz"></script>
  </head>

  <body>

    <%= render 'layouts/navbar' %>
    <% if notice %>
      <div class="alert alert-info mt-3 " role="alert" id="notice">
        <%= notice %>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-info mt-3 " role="alert" id="alert">
        <%= alert %>
      </div>
    <% end %>
    <div class="container <%= controller_name %> <%= action_name %> ">
    <%= yield %>
    </div>
  </body>
</html>
